<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="twitter:site" content="@seagodcrypto"/>
  {% if page.title %}
    {# Content is blogpost or learn material, not a main site like landing page or about #}
    <title>{{ page.title }} &mdash; {{ config.title }}</title>
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:url" content="{{current_url | safe}}" />
    {% if page.extra.ogdescription %}
    <meta property="og:description" content="{{ page.extra.ogdescription }}" />
    {% endif %}
    {% if page.extra.ogimage %}
    <meta property="og:image" content="{{current_url | safe}}{{page.extra.ogimage | safe}}" />
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:image" content="{{current_url | safe}}{{page.extra.ogimage | safe}}" />
    <meta name="twitter:creator" content="@seagodcrypto" />
    {% endif %}
    {% if page.extra.ogtype %}
    <meta property="og:type" content="{{page.extra.ogtype}}" />
    {% endif %}
    {% else %}
    {# Content is main site like landing page or about #}
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ get_url(path="img/android-chrome-192x192.png") }}"/>

    {# Set a correct title in the case we're not in a blogpost or learn post #}
    {# Hacky - sorry #}
    {% if section.title %}
      {# We're on Learn or on Blog which is the two sections we have #}
      <meta property="og:title" content="{{ section.title }}" />
      <title>{{ section.title }}</title>
    {% else %}
      {% if current_path %}
        {% if current_path == "/about/" %}
          {# We're on About #}
          <meta property="og:title" content="About Neptune" />
          <title>About Neptune</title>
        {% else %}
          {# We're on landing page #}
          <meta property="og:title" content="{{ config.title }} &mdash; {{ config.extra.site_tagline }}" />
          <title>{{ config.title }} &mdash; {{ config.extra.site_tagline }}</title>
        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %}

  {# Sepcify canonical URL, unless we're on the 404 page in which case, current_url does not exist #}
  {% if current_url %}
  <link rel="canonical" href="{{current_url | safe}}">
  {% endif %}
  <link rel="stylesheet" href="{{ get_url(path="main.css") }}">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <script src="/js/zepto.min.js"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  <link href="https://fonts.googleapis.com/css?family=DM%20Sans" rel="stylesheet"/>
  <script>
    <!-- Make the navbar expand/contract on mobile -->
		$(document).ready(function() {
			$(".navbar-burger").click(function() {
				$(".navbar-burger").toggleClass("is-active");
				$(".navbar-menu").toggleClass("is-active");
			});
		});

    <!-- Enable '$' as inline equation sign -->
		window.MathJax = {
			tex: {
				inlineMath: [['$', '$'], ['\\(', '\\)']]
			}
		};

  </script>
</head>
<body>
  {% block body %}
    <header class="header">
      <nav class="navbar is-spaced triangle-bg" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item navbar-logo-item" href="{{ get_url(path="", trailing_slash=false ) }}">
            {{ config.title }}
          </a>

          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMain">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarMain" class="navbar-menu">
          <div class="navbar-start">
            {% for link in config.extra.site_menu %}
              {% if link.new_tab %}
                <a class="navbar-item" href="{{ link.url }}" target="_blank" rel="noopener noreferrer">
                  {{ link.title }} →
                </a>
                {% else %}
                <a class="navbar-item" href="{{ link.url }}">
                  {{ link.title }}
                </a>
                {% endif %}
            {% endfor %}
            &nbsp;
            <div class="navbar-button-group">
                <a href="https://t.me/neptune_project" class="button is-light navbar-button">
                    <img class="navbar-button-icon" src="{{ get_url(path="telegram.svg") }}" />
                    <span class="navbar-button-label"><span>Telegram</span><span>→</span></span>
                </a>
                <a href="https://www.youtube.com/@seagodcrypto" class="button is-light navbar-button">
                    <img class="navbar-button-icon" src="{{ get_url(path="youtube.svg") }}" />
                    <span class="navbar-button-label"><span>Youtube</span><span>→</span></span>
                </a>
                <a href="https://x.com/seagodcrypto" class="button is-light navbar-button">
                    <img class="navbar-button-icon" src="{{ get_url(path="twitter.svg") }}" />
                      <span class="navbar-button-label"><span>Twitter</span><span>→</span></span>
                </a>
            </div>
          </div>
          <div class="navbar-end">
          </div>
		</div>
      </nav>
    </header>

    <main class="main">
      {% block content %}
      {% endblock content %}
    </main>

    <footer class="footer">
      <p class="has-text-centered">
        &copy; {{ now() | date(format="%Y") }} <a href="{{ get_url(path="", trailing_slash=false ) }}">{{ config.title }}</a>
      </p>
    </footer>
  {% endblock body %}
</body>
</html>
